<h2><%= @restaurant.name %></h2>
<br>
<p>Address: <%= @restaurant.address %></p>
<p>Phone number:<%= @restaurant.phone_number %></p>
<p>Category: <%= @restaurant.category %></p>
<br>
<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= "Rating: #{review.rating} stars!" %></li>
    <li class="list-group-item"><%= "Comment: #{review.content}" %></li>
  <% end %>
</ul>
<br>
<%= link_to 'Add a review!', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
<br>
<br>
<%= link_to 'Back to the list', restaurants_path, class: "btn btn-primary" %>
